{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="{% static "reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "global.css" %}">
  </head>

  <body>
    <ul class="mt10">
      {% for image in images %}
        <li class="fl-l mv5 mr10">
          {% if image.media_type == 0 %}
            <img src="{{ image.low_resolution_url }}">
          {% else %}
            <video width="320" height="320" controls>
              <source src="{{ image.low_resolution_url }}">
            </video>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <div class="center-text clear">
      {% if images.has_previous %}
        <a href="?page={{ images.previous_page_number }}">previous</a>
      {% endif %}
      Page  {{ images.number }} of {{ images.paginator.num_pages }}
      {% if images.has_next %}
        <a href="?page={{ images.next_page_number }}">next</a>
      {% endif %}
    </div>
  </body>

</html>
