{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="{% static "reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "global.css" %}">
  </head>

  <body>

    <div class="center-text">
      <p class="mb10">Filter your results:</p>
      <form method="GET" action="">
        <span class="mr10">
          Username: <input type="text" name="username" value="{{ username }}" />
        </span>
        <span>
          Media type:
          <select name="media_type">
            <option value="" {% if not media_type %}selected{% endif %}>All</option>
            <option value="0" {% if media_type == 0 %}selected{% endif %}>Image</option>
            <option value="1" {% if media_type == 1 %}selected{% endif %}>Video</option>
          </select>
        </span>
        <div class="mt10">
          <input type="submit" value="Filter" />
        </div>
      </form>
    </div>

    {% if media_page %}
      <ul class="mt10">
        {% for media in media_page %}
          <li class="fl-l mv5 mr10">
            <a href="{{ media.url }}">
              {% if media.media_type == 0 %}
                <img src="{{ media.low_resolution_url }}">
              {% else %}
                <video width="320" height="320" controls>
                  <source src="{{ media.low_resolution_url }}">
                </video>
              {% endif %}
            </a>
            <div>By <a href="?username={{ media.username }}">{{ media.username }}</a></div>
          </li>
        {% endfor %}
      </ul>

      <div class="center-text clear">
        {% if media_page.has_previous %}
          <a href="?page={{ media_page.previous_page_number }}">previous</a>
        {% endif %}
        Page  {{ media_page.number }} of {{ media_page.paginator.num_pages }}
        {% if media_page.has_next %}
          <a href="?page={{ media_page.next_page_number }}">next</a>
        {% endif %}
      </div>

    {% else %}
      <div class="center-text">No results found.</div>
    {% endif %}

  </body>

</html>
